In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
x = pd.Series([10,20,30,40,50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
x.values

array([10, 20, 30, 40, 50], dtype=int64)

In [6]:
data = [450, 650, 870]
Sales = Series(data, index=['Don','Mike','Edwin'])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

In [7]:
type(Sales)

pandas.core.series.Series

In [8]:
Sales['Don']

450

In [9]:
Sales[0] # unlike a dicionary, you can also index a series

450

In [10]:
Sales > 500

Don      False
Mike      True
Edwin     True
dtype: bool

In [11]:
Sales[[False,True,True]]

Mike     650
Edwin    870
dtype: int64

In [12]:
'Don' in Sales

True

In [13]:
450 in Sales # 450 isn't a key so returns false

False

In [16]:
sales_dict = Sales.to_dict()
sales_dict

{'Don': 450, 'Mike': 650, 'Edwin': 870}

In [17]:
sales_ser = Series(sales_dict)
sales_ser

Don      450
Mike     650
Edwin    870
dtype: int64

In [18]:
new_sales = Series(Sales, index=['Don','Mike','Sally','Edwin','Lucy'])
new_sales

Don      450.0
Mike     650.0
Sally      NaN
Edwin    870.0
Lucy       NaN
dtype: float64

In [19]:
np.isnan(new_sales['Sally'])

True

In [20]:
new_sales['Sally'] is None # NaN is not the same as None

False

In [21]:
np.isnan(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
Lucy      True
dtype: bool

In [22]:
Sales.index.name = "Sales person"
Sales

Sales person
Don      450
Mike     650
Edwin    870
dtype: int64